.container {
    background: #fefefe;
    border: 1px solid #d5dce5;
    border-radius: 5px;
    display: table;
    padding: 20px 10px;
    position: absolute;
    top:30%;
    left:2%;
}

.container .login {
    width: 330px;
    display: none;
    margin-top:20px;
}

.title {
    font-size: 16px;
    color: #4d5e73;
    margin: 20px 10px 20px;
}

.title h3 {
    display: inline-block;
}

.title .regeister {
    float: right;
    font-size: 14px;
    text-decoration:underline;
}

.iptUser,
.iptPwd {
    display: block;
    background: #fff;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #d5dce5;
    margin-bottom: 20px;
    font-weight: normal;
    text-indent: 23px;
    outline: 0;
    border-radius: 3px;
}

.other {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #4d5e73;
    font-size: 14px;
}

.other .other-left {
    width: 49%;
    display: inline-block;
}

.other .other-left input {
    vertical-align: middle;
}

.other .other-right {
    width: 49%;
    display: inline-block;
    text-align: right;
}

.btnLogin {
    display: block;
    /*width: 100%;*/
    width: 330px;
    background: #c90a16;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    border: solid 1px #c90000;
    border-radius: 3px;
    box-shadow: 0 0 3px #fff inset;
    margin-bottom: 20px;
    outline: none;
}

.contentList {
    width: 330px;
    margin-bottom: 150px;
    line-height: 2;
}

.container {
    display: none;
}

.getAccount {
    display: none;
}

.close {
    float: right;
}